/* styling for the custom video player */

.mevp_skin {
	display: block;
	width: 100%;
	max-width: 1100px;
}

.custom_player {
	position: absolute;
	display: block;
	width: 100%;

}
.mevp_nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: transparent;
	margin: 0;
	position: absolute;
	z-index: 20000;
	padding: 10px;
	max-width: 1100px;
	box-shadow: 0 0 44px 5px rgba(180, 180, 180, .25) inset;

}
.mevp_nav li {
	display: inline-block;
	list-style: none;	
	height: 25px;
	width: 25px;
	margin-left:  5px;
	margin-right: 5px;
	text-align: center;
}

.mevp_nav a {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.mevp_pause {
	background: url(../images/pause.svg) center no-repeat;
}
.mevp_play {
	background: url(../images/play.svg) center no-repeat;
}

.mevp_progress {
	width: 100%;
	background-color:rgba(255,255,255, 0.3);
	flex-grow: 1;
	border: 1px solid rgba(55,55,55, 0.3);
}

.mevp_progress--bar {
	height: 100%;
	width: 0%;
	background-color:rgba(255,255,255, 0.9);
}

.mevp_fullscreen {
	background: url(../images/fullscreen.svg) center no-repeat;
}
.mevp_normalscreen {
	background: url(../images/normalscreen.svg) center no-repeat;
}


.mevp_nav p {
	display: inline-block;
	color: #fff;
	margin: 0;
	padding-top: 5px;
	text-shadow: 1px 1px 3px #000;
}

.mevp_skin:-webkit-full-screen, 
.custom_player:-webkit-full-screen,
.mevp_nav:-webkit-full-screen { 
	max-width: 100%;
	width: 100%;
}

.mevp_skin:-webkit-full-screen {
	height: 100%;
}

@media (min-width: 480px) {
	.mevp_nav li {
		margin-left: 15px;
		margin-right: 15px;
	}
		
	.mevp_progress,
	.mevp_progress--bar	{
		border-radius: 5px;
	}
}

@media (min-width: 700px) {
	.custom_player {
		box-shadow: 0 0 10px 13px #aab;
		border: 3px solid #333;
		max-width: 1100px;
	}
}


