/* styling for the custom video player */

.mevp_skin {
	display: block;
	width: 100%;
	max-width: 1100px;
}


/*
#exampleImage:-moz-full-screen { cursor:zoom-out; }
#exampleImage:-ms-fullscreen { cursor:zoom-out; }
#exampleImage:fullscreen { cursor:zoom-out; }
*/
.custom_player {
	position: absolute;
	display: block;
	width: 100%;

}
.mevp_nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: transparent;
	margin: 0;
	position: absolute;
	z-index: 20000;
	padding: 10px;
	max-width: 1100px;
	box-shadow: 0 0 44px 5px rgba(180, 180, 180, .75) inset;

}
.mevp_nav li {
	display: inline-block;
	list-style: none;	
	height: 25px;
	width: 25px;
}

.mevp_pause {
	background: url(../images/pause.svg) center no-repeat;
}
.mevp_play {
	background: url(../images/play.svg) center no-repeat;
}
.mevp_fullscreen {
	background: url(../images/fullscreen.svg) center no-repeat;
}

.mevp_nav a {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.mevp_skin:-webkit-full-screen, 
.custom_player:-webkit-full-screen,
.mevp_nav:-webkit-full-screen { 
	max-width: 100%;
	width: 100%;
}

.mevp_skin:-webkit-full-screen {
	height: 100%;
}

@media (min-width: 700px) {
	.custom_player {
		box-shadow: 0 0 10px 13px #acb;
		border: 3px solid #333;
		max-width: 1100px;
	}

}


